Repository ambionics/phpggc, pull requests merged in 2025-03, with the labels that each got.

#204 Fixing Symfony/RCE/14: PHP Fatal error in PHP >5
  gadgetchains/Symfony/RCE/14/gadgets.php
Labels: bug

#205 Silverstripe/FD1
  gadgetchains/Silverstripe/FD/1/chain.php
  gadgetchains/Silverstripe/FD/1/gadgets.php
Labels: gadget chain

#198 docs / help text for public-properties enhancement
  README.md
  lib/PHPGGC.php
Labels: enhancement

#201 phpThumb/FD1
  gadgetchains/phpThumb/FD/1/chain.php
  gadgetchains/phpThumb/FD/1/gadgets.php
Labels: gadget chain

#206 Grav/FD1
  gadgetchains/Grav/FD/1/chain.php
  gadgetchains/Grav/FD/1/gadgets.php
Labels: gadget chain

#211 added Plates RCE gadget chain
  gadgetchains/Plates/RCE/1/chain.php
  gadgetchains/Plates/RCE/1/gadgets.php
Labels: gadget chain

#202 Joomla/FW1
  gadgetchains/Joomla/FW/1/chain.php
  gadgetchains/Joomla/FW/1/gadgets.php
Labels: gadget chain

#207 Laravel/RCE22
  gadgetchains/Laravel/RCE/22/chain.php
  gadgetchains/Laravel/RCE/22/gadgets.php
Labels: gadget chain

#208 Drupal INFO1, SQLI1, SSRF1 and FD1
  gadgetchains/Drupal/FD/1/chain.php
  gadgetchains/Drupal/FD/1/gadgets.php
  gadgetchains/Drupal/PsySH/1/chain.php
  gadgetchains/Drupal/PsySH/1/gadgets.php
  gadgetchains/Drupal/RCE/1/chain.php
  gadgetchains/Drupal/RCE/1/gadgets.php
  gadgetchains/Drupal/SQLI/1/chain.php
  gadgetchains/Drupal/SQLI/1/gadgets.php
  gadgetchains/Drupal/SSRF/1/chain.php
  gadgetchains/Drupal/SSRF/1/gadgets.php
  gadgetchains/Drupal/XXE/1/chain.php
  gadgetchains/Drupal/XXE/1/gadgets.php
  lib/PHPGGC/GadgetChain/SQLI/MySQLAuthenticatedSQLI.php
  lib/PHPGGC/GadgetChain/XXE.php
Labels: gadget chain

#210 Drupal AT1
  gadgetchains/Drupal/AT/1/chain.php
  gadgetchains/Drupal/AT/1/gadgets.php
  lib/PHPGGC/GadgetChain/AccountTakeover.php
Labels: gadget chain
